*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

    font-size: small;
    font-family: sans-serif;
    font-weight: 400;
}

:root{
    --lime-green: rgb(11, 175, 38);
    --dark-green: rgb(4, 140, 27);

    --color-background: rgb(46, 46, 46);

    --color-primary: var(--lime-green);
    --color-secondary: var(--dark-green);
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
}

.Container{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#Menu{
    width: 100%;
    height: 80%;

    border: none;

    position: absolute;
    margin-top: 5%;
}

#Modos{
    width: 857px;
    height: auto;

    background-color: var(--color-secondary);
    justify-content: space-around;
    border-radius: 50px;

    position: absolute;
    bottom: 5px;
}

#Modos span{
    font-size: 1.2rem;
    color: whitesmoke;
    padding: 15px 52px 15px 52px;
    font-weight: 500;
}

#Modos span.selecionado{
    border: 3px solid var(--color-primary);
    background-color: var(--color-secondary);
    transform: scale(120%);
    font-weight: 750;
}

#Informacoes{
    width: 1207px;
    height: 30px;

    background-color: var(--color-primary);
    justify-content: space-around;
    border-radius: 1000px;

    position: absolute;
    top: 5px;
    color: whitesmoke;
    cursor: pointer;
}

#Perfil{
    height: 120%;
    display: flex;
    align-items: center;
    
    font-weight: 750;
    background-color: var(--color-primary);
    padding: 5px 10px 5px 10px;
    border: 4px solid var(--color-secondary);
    border-radius: 5px;
    
    z-index: 10;
}

#Perfil img{
    width: auto;
    height: 90%;
    margin-right: 15px;
}

#PlayerInfo{
    height: 120%;
    display: flex;
    align-items: center;

    z-index: 100;
}

.Nivel{
    height: 45px;
    width: 45px;

    transform: scale(125%);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-primary);
    border: 3px solid var(--color-secondary);
    border-radius: 50px;
    z-index: 10;
}

#BoxExp{
    height: 100%;

    background-color: var(--color-primary);
    border: 4px solid var(--color-secondary) ;
    border-left: none;
    padding: 0px 10px 0px 20px;

    display: flex;
    align-items: center;

    transform: translateX(-8px);
}

#BoxMoney {
    height: 120%;
    
    display: flex;
    align-items: center;

    background-color: var(--color-primary);
    border: 3px solid var(--color-secondary);
    border-radius: 1000px;
    font-size: small;

    padding: 0px 15px 0px 15px;
}

#BoxMoney img{
    height: 80%;
    margin-right: 10px;
}

#BoxShop {
    height: 55px;
    width: 65px;
    
    transform: scale(130%);

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-primary);
    border: 3px solid var(--color-secondary);
    border-radius: 1000px;

    font-weight: 600;
    font-size: 70%;
}

#BoxShop img{
    width: 40%;
    margin: 8px 0px 4px 0px;
}

#Configuracao{
    height: 120%;
    
    display: flex;
    align-items: center;

    background-color: var(--color-primary);
    border: 4px solid var(--color-secondary);
    border-radius: 10px;
    
    font-family: sans-serif;
    padding: 0px 15px 0px 15px;
    z-index: 10;
}

#Configuracao img{
    height: 90%;
    margin-right: 10px;
}

#Conteudo {
    width: 60%;
    height: 55%;

    background-color: rgba(240, 248, 255, 0.215);

    border-radius: 15px;
    z-index: 0;
}

#InfoADD {
    width: auto;
    height: auto;

    max-width: 220px;

    background-color: var(--color-primary);
    border: 3px solid var(--color-secondary);
    display: none;
    position: absolute;
    top: 15px;

    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    padding: 25px 5px 5px 5px;
    z-index: 5;
}

#Mensagem{
    background-color: rgba(49, 49, 49, 0.827);
    position: absolute;
    border: none;
    border-radius: 10px;

    display: none;
    align-items: center;
    justify-items: center;

    padding: 7px 15px 7px 10px;
    color: white;
    z-index: 100;
}

#InfoADD span{
    font-size: 0.8;
    color: rgb(38, 36, 36);
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    cursor: text;
    left: 35px;
    position: absolute;
}

#InfoADD input, button{
    padding: 8px;
    width: 100%;
    border-radius: 50px;
    border: none;
    outline: none;
    margin-top: 5px;
}

#InfoADD input{
    padding: 10px 8px 10px 8px;
    font-size: 1rem;
    border-radius: 10px;
}

#InfoADD div{
    width: 90%;
    display: flex;
    align-items: center;
}

#InfoADD button{
    background-color: rgb(97, 97, 97);
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 700;
    border: 2px solid white;
}

#InfoADD button.atual {
    background-color: rgb(44, 42, 42);
}

#InfoADD .Selecionado{
    font-size: 0.7rem;
    margin-bottom: 15px;
}

#InfoADD .Inputs{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
}

#Jogar{
    width: auto;
    height: auto;

    background-color: var(--color-secondary);
    color: whitesmoke;
    font-size: large;
    font-weight: 800;

    position: absolute;
    bottom: 160px;
    left: 45%;

    border: 5px solid var(--color-primary);

    padding: 10px 50px 10px 50px;
    z-index: 200;
}

#Jogar:hover{
    transform: scale(120%);
    cursor: pointer;
}