*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(43, 107, 13);
}

#reiniciar{
    width: 200px;
    height: 70px;

    background-color: rgb(146, 41, 7);
    border: solid 5px rgba(40, 33, 33, 0.774);
    border-radius: 20px;

    font-size: 1.6rem;
    font-family: monospace;
    font-weight: bold;
    color:rgb(255, 255, 255);

    justify-content: center;
    align-items: center;

    position: relative;
    display: none;

    top: 50vh;
    left: 50vh;
}

#reiniciar:hover{
    background-color: rgb(190, 55, 9);
    cursor: pointer;
}

.game-board{
    width: 100vmax;
    height: 90vh;        
    border-bottom: 10px solid rgb(43, 107, 13);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    
    background: linear-gradient(
        rgb(7, 102, 211),
        rgb(5, 216, 235),
        rgb(209, 238, 247));
}

#BoxInfo{
    position: absolute;

    height: auto;
    width: 25vw;
    max-width: 200px;

    top: 0px;
    margin: 10px;
}

#Nivel{
    color: antiquewhite;
    font-size: 2rem;
    font-family: monospace;
    margin-left: 20px;
}

#Exp{
    width: 100%;
    height: 15px;

    position: relative;
    display: flex;
    
    background: linear-gradient(to right,
        rgb(37, 255, 18) -100%,
        rgba(13, 106, 4, 0.867)) ;
    box-sizing: content-box;

    border-radius: 15px;
    margin-bottom: 20px;
    
    text-align: center;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: small;
    padding: 3px;
}

#BoxVida{
    width: 100%;
    height: 25px;

    position: relative;
    display: flex;

    background-color: rgba(209, 20, 20, 0.479);
    border: 3px solid rgb(101, 5, 5);
    box-sizing: content-box;
}

.Vida{
    width: 100%;
    position: relative;
    display: flex;
    background-color:  rgb(101, 5, 5);
}

#BoxStam{
    width: 90%;
    height: 5px;

    position: relative;
    display: flex;
    
    background-color: rgba(246, 195, 12, 0.479);
    box-sizing: content-box;
}

.Stam{
    width: 100%;
    position: relative;
    display: flex;
    background-color: rgb(246, 195, 12);
}

#Rato {
    min-height: 7px;
    max-height: 22px;

    min-width: 5x;
    max-width: 15px;
 
    position: absolute;
    bottom: 1px;
}

#Arvore{
    bottom: 0px;
    
    min-height: 85px;
    max-height: 235px;

    min-width: 70px;
    max-width: 220px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

#Ave{
    min-height: 85px;
    max-height: 220px;

    min-width: 85px;
    max-width: 220px;

    position: absolute;
    bottom: 250px;
    left: 52px;

    background-image: url('../images/falcao_Foda.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#Ave.inimigo {
    filter: opacity(0.8) drop-shadow(0 0 0 rgb(255, 0, 0));
}

#Ave.transformado {
    transform: rotateY(180deg);
}


#Rato.animacao{
    background-image: url('../images/rato.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: movimentacao-rato 7s normal ease-in-out;
}

#Arvore.animacao {
    animation: movimentacao-arvore 7s infinite linear;
}

#Ave.animacao{ 
    animation: movimentacao-ave 750ms infinite; }

.jump {
    animation: pular 900ms normal;
}

#Exp.boost {
   animation: boost-exp 400ms infinite normal;
}

#BoxVida.boost {
    animation: boost-vida 600ms infinite normal;
}

@keyframes movimentacao-arvore {
    from {
        right: -500px;
    }
    to {
        right: 100%;
    }
}

@keyframes movimentacao-rato {
    from {
        left: -60px;
    }
    to {
        left: calc(100vw + 60px);
    }
}

@keyframes movimentacao-ave {
    0% {
        background-image: url('../images/falcao_foda.png');
    }
    50% {
        background-image: url('../images/falcao2_foda.png');
    }
    100% {
        background-image: url('../images/falcao_foda.png');
    }
}

@keyframes pular{
    0%  { transform: rotate(-45deg);}
    20% { bottom: 150px;}
    50% { bottom: 180px;}
    100% { bottom: 220px;}
}   

@keyframes boost-exp{
    0% { border:  2px solid rgb(37, 255, 18);}
    100% {border: 2px solid rgb(8, 97, 0);}
}

@keyframes boost-vida{
    0% { border:  5px solid rgb(86, 29, 23);}
    100% {border: 5px solid rgb(33, 41, 32);}
}